@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
:root {
  box-sizing: border-box;
  height: 100%;
  background-color:  #17194A;
  /* min-width: 900px; */
}

svg{
  height: 20px;
  width: 20px;
}

/* styles.css */
