@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
:root {
  box-sizing: border-box;
  height: 100%;
  background-color:  #17194A;
  /* min-width: 900px; */
  --progess-width: 110px;
  --progress-height: 110px;  
  --progress-color : rgb(102, 0, 255);
  --primary: rgba(137, 136, 139, 0.1);
  --secondary: rgba(137, 136, 139, 0.005);
}

svg{
  height: 20px;
  width: 20px;
}

.blur-container {
  backdrop-filter: blur(7px);
}

/* .tooltip:hover .has-tooltip{
  visibility: visible;
} */

.rectangulaire-progress-bar {

  height: var(--progress-height);
  width: var(--progess-width);
  background: 
              linear-gradient(to right, var(--progress-color), var(--progress-color)), /* top edge*/
              linear-gradient(to bottom, var(--progress-color), var(--progress-color)), /* right edge*/
              linear-gradient(to bottom, var(--progress-color), var(--progress-color)), /* bottom left edge*/
              linear-gradient(to bottom, var(--progress-color), var(--progress-color)), /*bottom right edge */
              linear-gradient(to right, var(--progress-color), var(--progress-color)), /* left edge*/
              linear-gradient(to right, rgba(105, 94, 132, 0.4), #695e8466); /*gradient fill*/

  background-size:/*width height*/ 
                  100% 10px, 
                  10px 100%, 
                  36% 10px, 
                  30% 10px, 
                  10px 100% ,
                  100% 100%;

  background-repeat: no-repeat;

  background-position:/* how far from left edge , how far from top ( negative how far from bottom)*/
                      -100px -100px, /* top edge*/
                      -100px -100px, /* right edge*/
                      -100px -100px , /* bottom left*/
                      70px -100px, /* bottom right*/
                      -100px -0px, /* left edge*/
                      0px 0px; /*gradient fill*/

  /* transition: all 1.5s ease; */

}
/* styles.css */


/* background-size:width height  */
/* 100% 10px,  */
/* 10px 100%,  */
/* 36% 10px,  */
/* 30% 10px,  */
/* 10px 100% , */
/* 100% 100%; */

/* background-repeat: no-repeat; */

/* background-position:how far from left edge , how far from top ( negative how far from bottom) */
    /* 10px 0px, top edge */
    /* 100px 0px, right edge */
    /* 0px 100px , bottom left */
    /* 70px 100px, bottom right */
    /* 0px 0px, left edge */
    /* 0px 0px; gradient fill */

    * {
      scrollbar-width: thin;
      scrollbar-color: var(--secondary) var(--primary);
    }
    
    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
      width: 5px;
    }
    
    *::-webkit-scrollbar-track {
      background: var(--secondary);
      margin-top: 45px;
      margin-bottom: 45px;
    }
    
    *::-webkit-scrollbar-thumb {
      background-color: var(--primary);
      border-radius: 14px;
      border: 3px solid var(--secondary);
    }