# Ignore dockerfiles
dockerfiles
.dockerignore

# Ignore compiled output
dist
node_modules

# Ignore logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Ignore test coverage reports
coverage
.nyc_output

# Ignore IDE and editor files
.idea
.project
.classpath
.c9
*.launch
.settings
.sublime-workspace

# Ignore VSCode files
.vscode
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json

# Ignore macOS folder attributes
.DS_Store

# Ignore temporary files
*.swp

# Versioning and metadata
.git
.gitignore
